/*General*/
@font-face {
    font-family: lemonMilk;
    src: url(../fonts/LemonMilk.otf);
}

body, html {
    background-color: rgb(180, 223, 229);
    /*width: 100%;*/
    width: auto;
    height: 100%;
    margin: 0;
    font-family: "Montserrat", lemonMilk;
    overflow-x: hidden;
    /*font-family: lemonMilk;*/
}

/*Navigation*/
#map-button {
    position: absolute;
    bottom: 0;
    margin: 8vh;
    right: 0;
    background-color: rgba(242, 242, 242, 0.8);
    padding: 2vh;
    border-radius: 2vh;
}

#map-button:hover {
    background-color: rgba(242, 242, 242, 0.9);
    user-select: none;
}

#scroll-button {
    position: absolute;
    right: 2em;
    bottom: 50%;
    background-color: #FFFFFF77;
    border-radius: 1em;
    height: 3em;
    width: 3em;
    text-align: center;
    display: flex;
    align-items: center;

    transition: background-color 1s;
}

#scroll-button:hover {
    background-color: #FFFFFF99;
}

#scroll-button > svg {
    top: 0;
    bottom: 0;
    margin: auto;
}

/*Background Images*/
#background-img {
    width: 100%;
    height: 100%;

    background-image: url("../img/background2.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
}

#train-img {
    max-height: 30%;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    max-width: 100vw;
    height: auto;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    #train-img {
        width: 90%;
        height: auto;
    }
}

/*Train Map*/
#map-wrapper {
    background-color: rgba(242, 242, 242, 0.8);
    border-radius: 2%;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    overflow-y: scroll;
}

#map {
    width: 100%;
    height: auto;
}

.train-station {
    background-color: rgb(180, 180, 180);
    width: 4%;
    /*height: 4%;*/
    padding-top: 4%; /* really hacky? */
    border-radius: 50%;
    margin: 5% 8%;
    /*float: left;*/
    z-index: 3;
}

.train-station:hover {
    width: 6%;
    padding-top: 6%;
    margin: 4% 7%;
}

.station-left {
    float: left;
}

.station-right {
    float: right;
}

.station-highlight {
    background-color: orange;
}

#line-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    /*height: 100%;*/
    /*preserveAspectRatio: none;*/
}

line {
    position: relative;
    stroke-width: 0.7vh;
    stroke: orange;
}

#outbound-text {
    margin: 2%;
}

#inbound-text {
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    margin: 2%;
    float: right;
    clear: both;
}

/*Project View*/

.hidden {
    display: none;
}

#project-view {
    /*height: 100%;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;*/


    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.project-wrapper {
    top: 0;
    width: 100%;
    height: 100%;
    display:inline-block;
    vertical-align: top;
}

.project {
    width: 50vw;
    /*height: 50%;*/
    /*height: 30vh;*/
    height: auto;
    margin: auto 23vw;
    /*margin-top: 5%;*/
    margin-top: 10vh;
    background-color: rgba(242, 242, 242, 0.7);
    /*background-color: rgba(242, 242, 242, 1);*/
    display: inline-block;
    position: relative;

    border-radius: 2vh;
    padding: 2vw;
    box-shadow: 0px 4px 5px rgba(120, 120, 120, 0.5);
    padding-bottom: 0;
}

/*Project Sub Classes*/
/*Left*/
.project-left {
    /*background: gray;*/
    height: 80%;
    width: 30%;
    float: left;
}

.image {
    width: 13vw;
    height: 13vw;
    margin: 0 auto;
    /*background-image: url("../img/exampleImage.jpg");*/
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 50%;
}

.dash-date {
    display: none;
}

.start-date, .end-date {
    font-size: 1em;
    padding: 0.5vh 0;
    text-align: center;
    /*text-align: right;*/
}

/*Right*/
.project-right {
    float: left;
    /*background: green;*/
    width: 70%;
    height: 80%;
}

.name {
    font-size: 1.7em;
    border-bottom: 4px solid rgba(200, 200, 200, 0.8);
    color: orange;
    word-wrap: break-word
}

.description {
    white-space: normal;
    margin-top: 1vh;
    /*font-size: 2vh;*/
    font-size: 1em;
    height: auto;
}

.link-project a, .link-git a {
    text-decoration: none;
    color: orange;
    font-size: 1em;
    padding: 0.5vh 0;
}

.link-project a {
    float: left;
}

.link-git a {
    float: right;
}

/*Bottom*/
.project-bottom {
    float: right;
    width: 100%;
    height: 20%;
}

.tag {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(0, 0, 0, 0.8);
    height: auto;
    width: auto;
    bottom: 0;
    padding: 1vh;
    text-align: center;
    margin-top: 4vh;
    margin-left: 1vh;
    margin-right: 1vh;
    float: left;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    font-size: 1em;
    overflow: hidden;
}


.tag {
    border-left: 0.5vw solid rgb(94, 224, 217);
}

/*pastel green*/
.tag-html {
    border-left: 0.5vw solid rgb(25, 104, 13);
}

/*darker but still pastel green*/
.tag-js {
    border-left: 0.5vw solid rgba(140, 216, 93, 1);
}

/*darker red*/
.tag-css {
    border-left: 0.5vw solid rgba(219, 100, 87, 1);
}

/*pastel red*/
.tag-php {
    border-left: 0.5vw solid rgba(232, 180, 180, 1);
}

/*rose red*/
.tag-apache {
    border-left: 0.5vw solid rgb(219, 43, 73)
}

/*pastel turquoise/blue-green*/
.tag-unity3d{
    border-left: 0.5vw solid rgba(146, 217, 232, 1);
}

/*darker-blue*/
.tag-c-sharp {
    border-left: 0.5vw solid rgba(78, 137, 219, 1);
}

/*purple*/
.tag-piskel {
    border-left: 0.5vw solid rgb(151, 107, 239);
}

/*pastel orange*/
.tag-orange {
    border-left: 0.5vw solid rgba(232, 209, 180, 1);
}

.tag {
    border-left-width: 0.2vw;
}
