/*Navigation*/
#map-button {
    margin: 4vh;
}

/*Background Images*/
/*#train-img {
    width: 90%;
    height: auto;
}*/

/*Train Maps*/
#map-wrapper {
    width: 80%;
}

/*Project View*/
.project {
    width: 82vw;
    height: auto;
    margin: auto 5vw;
    margin-top: 5%;
    position: relative;
    padding: 4vw;
}

/*Project Sub Classes*/
/*Left*/
.project-left {
    /*background: gray;*/
    float: none;
    width: 100%;
    height: auto;
}

.image {
    width: 35vw;
    height: 35vw;
}

.start-date, .dash-date, .end-date {
    font-size: 0.8em;
    display: inline-block;
}

.dash-date {
    display: none;
}

.end-date {
    float: right;
}

/*Right*/
.project-right {
    /*background: green;*/
    float: none;
    width: 100%;
    height: auto;
}

.name {
    text-align: center;
    font-size: 5vw;
}

.description {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.link-project a, .link-git a {
    font-size: 1em;
}

.link-project a {

}

.link-git a {

}

/*Bottom*/
.project-bottom {
    width: 0;
    float: none;
    position: absolute;
    top: 0;
    right: 0;
}

.tag {
    float: right;
    width: 10vw;
    right: 0;
    margin: 0;
    border-radius: 0;
    height: 2vh;
    font-size: 2vw;
    border-left-width: 0.5vw;
}

.tag:first-child {
    margin-top: 4vh;
}
